<!--http://localhost:3000/search/china/shanghai/?checkin=2017-07-24&checkout=2017-07-26&adults=2-->

<div id="cityAndDateComponent"></div>
<div id="hotelListComponent"></div>
{{#contentFor "footerScripts"}}
  <script src="/js/search.js"></script>
{{/contentFor}}
