<!--http://localhost:3000/search/china/shanghai/?checkin=2017-07-24&checkout=2017-07-26&adults=2-->

<div style="margin: 0px 5px;">
  <div id="cityAndDateComponent"></div>
</div>
<div id="hotelListComponent"></div>
{{#contentFor "footerScripts"}}

<script>
  function setHotelImageHeight() {
    //  alert('setHotelImageHeight called');
     var div = $('.hotelImage').first();
     var width = div.width();
     var height = width * 0.6;
     //alert(width);
     $('.hotelImage').css('height', height);
  }

  // $(function() {
  //   setHotelImageHeight();
  // });
</script>

  <script src="/js/search.js"></script>


{{/contentFor}}
