<h1 class='h4'>{{hotel.name}}</h1>

<div>{{hotel.address}}</div>

<div id='hotelPhotoSliderComponent'></div>

<div>{{hotel.description}}</div>

<div class="short-full-block">
  <div class="short-block">short text</div>
  <div class="full-block hidden">full text</div>
</div>

<div id='hotelRoomTypeListComponent'></div>

{{#contentFor "footerScripts"}}

<script src="/js/hotel.js"></script>
<script>
$(function(){
  initShortFullBlock();
});
</script>
{{/contentFor}}
