
<div>detail page</div>

<h1 class='h3'>{{hotel.name}}</h1>

<div>{{hotel.address}}</div>

<div id='hotelPhotoSliderComponent'></div>

<div>{{hotel.description}}</div>

{{#contentFor "footerScripts"}}

<script src="/js/hotel.js"></script>

{{/contentFor}}
